<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets\images\undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-7 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Reset password</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" action="#" method="post">
              <div class="form-group first">
                <input type="email" name="email" ngModel required #email="ngModel" class="form-control" placeholder="Address email">
              </div>
              <br>
               <input type="submit" value="Confirm" class="btn btn-block btn-primary" [disabled]="f.invalid">
             
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
