

  <header id="header" class="fixed-top   ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Findit</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">App Features</a></li>
          <li><a class="nav-link scrollto" href="#faq">F.A.Q</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" [routerLink]="['login']" routerLinkActive="active">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header>

 
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Platform for missing Persons & Pets</h1>
            <h2>Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu et fastidii forensibus voluptatibus. His ei nihil feugait</h2>
            <a class="getstarted scrollto" [routerLink]="['login']" routerLinkActive="active">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="assets/images/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">

   
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>App Features</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus perferendis minima harum id debitis possimus dignissimos, quaerat molestiae quam culpa! Quidem maiores voluptatem in pariatur inventore nam, illum dolorum possimus.</p>
        </div>

        <div class="row no-gutters">
          <div class="col-xxl-7 d-flex align-items-center order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="fa-solid fa-people-group"></i>
                  <h4>Corporis voluptates sit</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="fa-solid fa-images"></i>
                  <h4>Ullamco laboris nisi</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="fa-solid fa-cat"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="fa-solid fa-address-card"></i>
                  <h4>Beatae veritatis</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="fa-solid fa-comments"></i>
                  <h4>Molestiae dolor</h4>
                  <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="fa-solid fa-bell"></i>
                  <h4>Explicabo consectetur</h4>
                  <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/features.svg" class="img-fluid" alt="">
          </div> -->
        </div>

      </div>
    </section><!-- End App Features Section -->

    
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/images/details_1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Missing Persons Platform.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
              <li><i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</li>
            </ul>
            <a class="goplatform scrollto" [routerLink]="['persons']" routerLinkActive="active">Missing Persons Platform</a>
            
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/images/details_1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Missing Pets Platform.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
              <li><i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</li>
            </ul>
            <a class="goplatform scrollto" [routerLink]="['pets']" routerLinkActive="active">Missing Pets Platform</a>
          </div>
        </div>

      
      </div>
    </section><!-- End Details Section -->

   
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus fugit porro cupiditate aliquam accusamus aspernatur odit illo, temporibus atque maiores maxime unde, explicabo sunt itaque ad reprehenderit harum odio impedit.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/profile_comm.png" class="testimonial-img" alt="">
                <h3>Bengharez Salah eddine</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis explicabo odit eveniet in, voluptatibus est. Necessitatibus atque facilis asperiores natus velit, dolor aperiam sapiente laudantium porro reiciendis ducimus. Est, id?                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/profile_comm.png" class="testimonial-img" alt="">
                <h3>Bengharez Salah eddine</h3>
                <h4>Designer</h4>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor alias quia, omnis voluptatibus et nostrum sed officiis culpa. Sunt vel ipsam possimus. Amet a asperiores dignissimos eveniet optio odit molestiae.
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/profile_comm.png" class="testimonial-img" alt="">
                <h3>Bengharez Salah eddine</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, esse maiores reiciendis at quis tenetur quos, quas temporibus magni laudantium minima vitae ipsam sint sunt sapiente, placeat fuga nostrum animi.                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/profile_comm.png" class="testimonial-img" alt="">
                <h3>Bengharez Salah eddine</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero impedit nobis deleniti possimus praesentium. Eaque ducimus, sed nemo vel error facere eveniet, est fugit delectus autem quas illum porro dolorem.                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/profile_comm.png" class="testimonial-img" alt="">
                <h3>Bengharez Salah eddine</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloribus esse provident voluptatum vero, sequi maxime necessitatibus numquam est deleniti fugit consectetur fuga voluptate, iure soluta, non dolorum earum a.                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
          
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2>Frequently Asked Questions</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nisi nesciunt, ipsum architecto non sequi officiis nam quisquam placeat sed natus aut beatae, debitis unde sunt optio doloremque porro eaque.</p>
        </div>

        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up">
              <i class="fa-regular fa-circle-question"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="fa-regular fa-circle-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis earum iste deserunt unde voluptas pariatur nostrum illum necessitatibus accusamus consequatur. Cum omnis suscipit culpa velit dolore facilis ducimus quam voluptatem?
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="fa-regular fa-circle-question"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bi bi-chevron-down icon-show"></i><i class="fa-regular fa-circle-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ipsam minus nostrum quam, voluptate vitae ducimus, dolorum mollitia quia nemo iste corrupti corporis quod, fugit tenetur. Deleniti voluptates nulla commodi!
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="fa-regular fa-circle-question"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bi bi-chevron-down icon-show"></i><i class="fa-regular fa-circle-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusantium, minus autem illum suscipit eveniet nihil provident esse excepturi voluptate quo maxime? Quo labore eveniet animi aliquid reprehenderit perspiciatis quis.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="fa-regular fa-circle-question"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="fa-regular fa-circle-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt odit ullam quisquam distinctio, similique dolor, minima sunt perspiciatis modi voluptates labore alias quibusdam, nisi possimus et. Perferendis beatae dignissimos saepe?
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="fa-regular fa-circle-question"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, quasi, odio molestiae eligendi quos quidem nobis soluta suscipit ipsam ullam. Architecto officia aliquid dolorum reprehenderit, quis ab rerum quod.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quam, nesciunt eius, placeat natus asperiores enim ad ipsam sunt quidem vel rerum velit, minima quis itaque vero. Doloremque, odio unde?</p>
        </div>

        <div class="row">

          <div class="col-lg-12 ">
            <div class="row justify-content-center">
              <div class="col-lg-5 info">
                <i class="bx bx-map"></i>
                <h4>Address</h4>
                <p>15 rue tunisie,<br>Sidi bel abbes, Sba 22000</p>
              </div>
              <div class="col-lg-5 info">
                <i class="bx bx-phone"></i>
                <h4>Call Us</h4>
                <p>+213 549 61 36 63<br>+213 578 91 03 22</p>
              </div>
              <div class="col-lg-5 info">
                <i class="bx bx-envelope"></i>
                <h4>Email Us</h4>
                <p>Findit@gmail.com<br>Finditinfo@gmail.com</p>
              </div>
              <div class="col-lg-5 info">
                <i class="bx bx-time-five"></i>
                <h4>Working Hours</h4>
                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

   
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Findit</h3>
            <p>
              15 rue tunisie <br>
              Sidi bel abbes, Sba 22000<br>
              Algeria <br><br>
              <strong>Phone:</strong> +213 549 61 36 63<br>
              <strong>Email:</strong> Findit@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Find missing persons</a></li>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Find missing pets</a></li>
              <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Make communication between</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Findit</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

